@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body{
    background: linear-gradient(to right, pink, skyblue);
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
    text-align: center;
}

.container{
    background: white;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
}

h1{
    margin-bottom: 20px;
    color: #fd0659;
}

p{
    margin-bottom: 20px;
    color: #777676;
}

button{
    padding: 10px 20px;
    border: none;
    background-color: skyblue;
    color: rgb(17, 17, 17);
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

button:hover{
    background-color:  #fd0659;
    transform: scale(1.05);
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);

}

#result{
    margin-top: 20px;
    font-size: 18px;
    color: #333;
    font-weight: bold;
}


